/* *{
    margin: 0;
    padding: 0;
} */
body{
    height: 200vh;
}
.open{
    display:none;
}
.carousel{
    margin: 0 auto;
    width: 70%;
    position: relative;
    background-color: yellow;
    overflow: hidden;
    padding: 30px;
}
.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    font-size: 30px;
}
.next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 96%;
    font-size: 30px;
}
.btn{
    padding:15px;
    color:blue;
    border:1px solid black;
}
/* .parent{
    border:2px solid black;
    padding: 30px;
} */
.list{
    list-style: none;
    border:2px solid blue;
}
.item{
    border:2px solid red;
    padding:10px;
}
.parents{
    width: 400px;
    height: 400px;
    border:2px solid black;
    display: flex;
    align-items:center;
    justify-content: center;
}
.parent{
    width: 200px;
    height: 180px;
    border:2px solid black;
    overflow: auto;
    /* white-space: nowrap; */
}